@import '/src/styles/variables.scss';


.logo {
    text-decoration: none;
    font-size: $headingH4;
    color: $white;
    letter-spacing: $letterSpacing;

    &:hover {
        color: $pink_2;
    }

    @include breakpoint(md) {
        font-size: 1em;
    }

    @include breakpoint(sm) {
        font-size: 16px;
    }
}