.nav_links {
    display: flex;
    justify-content: flex-end;
    /* flex: 1 1; */
    flex-grow: 2;
    /* default 0 */
    list-style: none;
}

.nav_links .link {
    margin: 0 1.5em;
    text-decoration: none;
}

a:hover {
    color: #af7099;
}