.navbar_container{
    width: 100%;
    padding: 1em;
    font-size: large;
}

.nav_links_container{
    display: flex;
    justify-content: flex-end;
    /* flex: 1 1; */
    flex-grow: 2; /* default 0 */
}

.nav_link{
    margin: 0 1.5em;
    text-decoration: none;
}

 a:hover{
    color: var(--pink_2);
}

