@import '/src/styles/variables.scss';

.projects {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    height: 55em;
    width: 100%;
    padding: 150px 0;
    background-image: linear-gradient(to bottom, #000 0%, $primary 100%);
    

    @include breakpoint(md) {
        height: 80em;
    }

    @include breakpoint(sm) {
        height: 100em;
        // margin-bottom: 200px;

        // @media all and (-webkit-min-device-pixel-ratio:0) {
        //   height: 280vh;
        // }
        // @media all and (-moz-min-device-pixel-ratio:0) {
        //   height: 250vh;
        // }
        // @-moz-document url-prefix(){
        //   height: 200vh;
        // }
      }

    &__header {
        margin: 100px 0 50px 0;
        color: $white;
        text-align: center;

        h2 {
            font-size: $headingH2;
            letter-spacing: $letterSpacing;
            margin-bottom: 0.2em;
        }

        p {
            font-size: $paragraph;
        }

        a {
            color: $pink_2;
        }

        a:hover {
            color: $pink
        }
    }

    &__boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        justify-items: center;

        @include breakpoint(md) {
            display: flex;
            flex-wrap: wrap;
        }

        @include breakpoint(sm) {
            display: flex;
            flex-wrap: wrap;
        }
    }
}