@import '/src/styles/variables.scss';

.projects {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    width: 100%;
    background: #121a26;
    
    &__header {
        margin: 100px 0 50px 0;        
        color: $white;
        text-align: center;

        h2 {
            font-size: $headingH1;
            letter-spacing: $letterSpacing;
            margin-bottom: 0.2em;
        }

        a {
            color: $pink_2;
        }

        a:hover {
            color: $white
        }
    }

    &__boxes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10%;
        align-items: center;
        justify-content: center;

    }
}