@import '/src/styles/variables.scss';

.hero {

    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    padding: 0 100px;
    min-height: 90vh;
    // background-color: $primary;

    @include breakpoint(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    div {
        margin: 50px 20px;
        height: 100%;
        z-index: 2;
    }

    &__intro {
        display: grid;
        align-content: center;
        justify-items: start;

        &>* {
            margin: 15px;
        }

        h1 {
            text-align: center;
            font-size: $headingH2;
            letter-spacing: $letterSpacing;
            color: $white;

            span {
                background-image: $pink_background;
                -webkit-text-stroke: 0.1px rgb(122, 122, 122);
                -webkit-background-clip: text;
                -moz-backface-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                font-weight: bold;
            }

            @include breakpoint(lg) {
            font-size: $headingH1;

            }

        }

        h2 {
            color: $white;
            text-align: center;
            font-size: $headingH2;
            letter-spacing: $letterSpacing;
        }

        p {
            font-size: $headingH3;
            color: $white;
            letter-spacing: $letterSpacing;
        }

    }

    &__donut {
        position: absolute;
        width: 450px;
        animation: moveUpDown 4s ease-in-out infinite;
        z-index: 1;
        left: 340px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.95) 100%);

        @keyframes moveUpDown {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(10px);
            }

            100% {
                transform: translateY(0);
            }
        }
    }
}