@import '/src/styles/variables.scss';

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
    padding: 0 100px;
    min-height: 90vh;
    // background-color: $primary;

    @include breakpoint(md) {}

    @include breakpoint(sm) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: flex-end;
        padding: 0;
    }

    div {
        margin: 50px 20px;
        height: 100%;
        z-index: 2;
    }

    &__intro {
        display: grid;
        align-content: center;
        justify-items: start;

        &>* {
            margin: 15px;
        }

        h1 {
            text-align: center;
            font-size: $headingH1;
            letter-spacing: $letterSpacing;
            color: $white;

            span {
                background-image: $pink_background;
                -webkit-text-stroke: 0.1px rgb(122, 122, 122);
                -webkit-background-clip: text;
                -moz-backface-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                font-weight: bold;
            }

            @include breakpoint(md) {
                font-size: $headingH2;
            }

            @include breakpoint(sm) {
                font-size: $headingH3;
            }

        }

        h2 {
            color: $white;
            text-align: center;
            font-size: $headingH2;
            letter-spacing: $letterSpacing;

            @include breakpoint(md) {
                font-size: $headingH2;
            }

            @include breakpoint(sm) {
                font-size: $headingH3;
            }
        }

        p {
            font-size: $headingH3;
            color: $white;
            letter-spacing: $letterSpacing;
        }

    }

    &__donut {
        position: absolute;
        width: 450px;
        animation: moveUpDown 4s ease-in-out infinite;
        z-index: 1;
        left: 340px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.95) 100%);


        @include breakpoint(md) {
            width: 350px;

        }

        @include breakpoint(sm) {
            width: 250px;
            left: 120px;
            top: 10px;

        }

        @keyframes moveUpDown {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(10px);
            }

            100% {
                transform: translateY(0);
            }
        }
    }
}