@import '/src/styles/variables.scss';

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
    padding: 0 100px;
    // background-color: $primary;

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @include breakpoint(sm) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }


    div {
        margin: 50px 20px;
        height: 100%;
        z-index: 2;
        @include breakpoint(sm) {
        margin: 50px 0;
            
        }
    }

    &__intro {
        display: grid;
        align-content: center;
        justify-items: start;

        &>* {
            margin: 15px;
        }

        h1 {
            text-align: center;
            font-size: $headingH1;
            letter-spacing: $letterSpacing;
            color: $white;

            @include breakpoint(md) {
                font-size: $headingH2;
            }

            @include breakpoint(sm) {
                font-size: $headingH3;
            }


            span {
                background-image: $pink_background;
                -webkit-text-stroke: 0.1px rgb(122, 122, 122);
                -webkit-background-clip: text;
                -moz-backface-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                font-weight: bold;
            }



        }

        h2 {
            color: $white;
            text-align: center;
            font-size: $headingH2;
            letter-spacing: $letterSpacing;


            @include breakpoint(sm) {
                font-size: $headingH3;
            }
        }

        p {
            font-size: $headingH3;
            color: $white;
            letter-spacing: $letterSpacing;
        }

    }

    &__donut {
        position: absolute;
        width: 250px;
        animation: moveUpDown 4s ease-in-out infinite;
        z-index: 1;
        left: 340px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.95) 100%);

        @include breakpoint(lg) {
            width: 230px;
            left: 320px;
        }

        @include breakpoint(md) {
            width: 200px;
            left: 300px;
            top: 100px;
        }

        @include breakpoint(sm) {
            width: 180px;
            left: 180px;
            top: 100px;
        }


        @keyframes moveUpDown {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(10px);
            }

            100% {
                transform: translateY(0);
            }
        }
    }
}