@import '/src/styles/variables.scss';

.slider {
    position: relative;

    div {
        overflow: hidden;
        width: 100%;
        z-index: 1000;


        img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            z-index: -1;
            border-radius: $borderRadius;
            transition-property: transform;
            transition-duration: 0.5s;

            &:hover {
                transform: scale(1.02);
            }

            @include breakpoint(lg) {
                width: 350px;
                height: 350px;
            }

            @include breakpoint(md) {
                width: 350px;
                height: 350px;
            }

            @include breakpoint(sm) {
                width: 330px;
                height: 330px;
            }
        }

        img.backImage {
            opacity: 0.8;
            position: absolute;
            z-index: -1;
            left: 70px;
            top: 60px;
        }
    }
}