@import "./reset.scss";
@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    font-family: $poppins;
}

#root {
    height: 100%;
}

*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px rgb(78, 78, 78);
}