@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@400;700;900&display=swap');

$poppins: "Poppins",
sans-serif;

$primary: #dadada;
$secondary: rgb(45, 48, 51);
$purple: rgba(101, 14, 163, 0.719);
$pink: #923680;
$pink_2: #af7099;
$white: #fff;

// border-radius
$borderRadius: 12px;

// letter spacing
$letterSpacing: 0.4px;

// spacing
$spacing-sm: 12px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 64px;

// breakpoints
@mixin breakpoint($point) {
    @if $point==xl {

        // 1120px
        @media (min-width: 70em) {
            @content;
        }
    }

    @else if $point==lg {

        // 1024px
        @media (min-width: 64em) {
            @content;
        }
    }

    @else if $point==md {

        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }

    @else if $point==md-only {

        // 767px
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $point==sm {

        // 600px
        @media (min-width: 37.5em) {
            @content;
        }
    }

    @else if $point==sm-only {
        @media (max-width: 599px) {
            @content;
        }
    }
}