@import '/src/styles/variables.scss';

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 90vh;
    background-color: $primary;

    div {
        height: 300px;
        width: 50%;
    }

    img{
        position: absolute;
        width: 300px;
        animation: moveUpDown 3s ease-in-out infinite;
    }
    
    @keyframes moveUpDown {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    &__intro {
        background: $white;
    }

    &__projects {
        background: $white;
    }


}