@import '/src/styles/variables.scss';

.hero {
    @include breakpoint(md) {

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        align-content: center;

    }

    position: relative;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    min-height: 90vh;
    background-color: $primary;

    div {
        margin: 50px 20px;
        height: 100%;
        z-index: 2;
    }

    &__intro {
        display: grid;
        align-content: center;
        justify-items: start;

        &>* {
            margin: 15px;
        }

        h1 {
            text-align: center;
            font-size: 3em;
            letter-spacing: $letterSpacing;
            color: $white;

            span {
                background-image: url("../../assets/bckr.webp");
                -webkit-text-stroke: 0.1px rgb(122, 122, 122);
                -webkit-background-clip: text;
                -moz-backface-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                font-weight: bold;
            }
        }

        h2 {
            color: $white;
            text-align: center;
            font-size: 2em;
            letter-spacing: $letterSpacing;
        }

        p {
            color: $white;
            letter-spacing: $letterSpacing;
        }

    }

    &__projects {
        position: relative;

        div {
            overflow: hidden;
            width: 100%;
            z-index: 1000;

            img {
                width: 400px;
                object-fit: cover;
                z-index: -1;
                border-radius: $borderRadius;
                mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.95) 100%);
                -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.95) 20%);
            }

            img:nth-child(2) {
                width: 400px;
                position: absolute;
                z-index: -1;
                left: 100px;
                bottom: 100px;
            }

            img::after {
                background-color: aqua;
            }
        }
    }

    &__astronaut {
        position: absolute;
        width: 300px;
        animation: moveUpDown 4s ease-in-out infinite;
        z-index: 1;
        left: 280px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.95) 100%);

        @keyframes moveUpDown {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(10px);
            }

            100% {
                transform: translateY(0);
            }
        }
    }
}