@import '/src/styles/variables.scss';

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 90vh;
    background-color: $primary;

    div {
        height: 300px;
        width: 50%;
    }

    &__intro {
        background: $white;
    }

    &__projects {
        background: $white;
    }
}