@import '../../../styles/variables.scss';

.introduce {
    display: grid;
    justify-items: center;
    gap: 20px;
    width: auto;
    padding: 150px 0;
    background: $primary;
    // background-image: linear-gradient(to bottom, #000 0%, $primary 100%);


    &__aboutMe {
        background: rgb(23, 33, 48);
        border-radius: $borderRadius;
        color: $white;
        padding: 30px;

        h3 {
            font-size: $headingH4;
            letter-spacing: $letterSpacing;
            margin-bottom: 20px;
        }

        .description {
            display: grid;
            grid-template-columns: 1fr 4fr;

            .prof {
                width: 10em;
                height: 10em;
                border-radius: 50%;
                background-image: $prof;
                background-size: cover;
            }


            p {
                font-size: 1.1em;
                text-align: left;
                color: $grey;

                span {
                    color: $pink_2
                }
            }

        }
    }

    &__skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        align-items: start;
        justify-items: center;
        gap: 20px;
        color: $white;
        grid-template-areas:
            "coding seo"
            "cms cms ";

        span {
            height: 100%;
            width: 100%;
            padding: 30px;
            border-radius: $borderRadius;
        }

        span:first-child {
            background: rgba(101, 14, 163, 0.57);
            grid-area: coding;
        }

        span:nth-child(2) {
            background: rgba(146, 54, 128, 0.57);
            grid-area: seo;

        }

        span:nth-child(3) {
            background: rgba(204, 13, 102, 0.57);
            grid-area: cms;

            ul {
                display: flex;
                justify-content: center;
            }
        }

        h3 {
            font-size: $headingH3;
            margin-bottom: 20px;
            letter-spacing: $letterSpacing;
        }

        li {
            font-size: $paragraph;
            color: $grey;
            letter-spacing: $letterSpacing;
            margin: 10px;
            cursor: default;

            &::before {
                content: ">";
                color: $pink;
                font-size: 20px;
                margin-right: 10px;
            }

            &:hover {
                transform: scale(1.01);
            }

        }


    }
}