@import '/src/styles/variables.scss';

.counter {
    width: 100%;
    height: 130px;

    background: url('../../../assets/black-background.webp') no-repeat left center / cover;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.99) 100%);

    &__title {
        color: $white;
        text-align: center;
        font-size: $headingH3;
        padding: 15px 0;
    }

    &__digits {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        text-align: center;

        div {
            display: flex;
            align-items: center;
        }

        h3,
        p {
            margin: 0 20px;
            font-family: $neon;
            color: #fff;
        }

        h3 {
            font-size: $headingH3;
            color: $white;
        }

        p {
            font-size: $headingH1;
            background-image: $pink_background;
            -webkit-text-stroke: 0.1px rgb(122, 122, 122);
            -webkit-background-clip: text;
            -moz-backface-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            font-weight: bold;
        }
    }

}