@import '/src/styles/variables.scss';


.contactDetails {
    width: 500px;
    display: grid;
    gap: 1em;
    padding: 1em;

    @include breakpoint(sm) {
        width: 300px;
    }

    &__heading {
        @include breakpoint(sm) {
            display: grid;
            text-align: center;
            justify-content: start;
        }
        h4 {
            font-size: $headingH3;
            font-weight: bold;
            color: $purple;
            letter-spacing: $letterSpacing;
            margin-bottom: 1em;
        }

        p {
            font-size: 18px;
            word-wrap:  break-word; 
        }
    }

    &__links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 4em;

        @include breakpoint(sm) {
        display: grid;
            text-align: center;
            justify-content: start;
            grid-template-columns: 1fr;
            padding: 2em;

        }

        a {
            display: flex;
            align-items: center;
            gap: 0.5em;
            color: #000;

            svg {
                font-size: 1.4em;
                color: $pink;
            }

            &:hover {
                color: $pink;
            }
        }
    }
}